doctype html
html
    head
        title= 'Image Search'
        script(type='text/javascript' src='templates.js')
        script(type='text/javascript' src='app.js')
        script(type='text/javascript' src='index.js')
        link(type='text/css' rel='stylesheet' href='app.css')
    body